---
// Source: https://docs.astro.build/en/tutorials/add-content-collections/#generate-pages-from-a-collection

import { getCollection } from "astro:content";
import { importImage } from "@/utils/import-image";
import { Picture } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const {
  entry: {
    data: {
      author,
      cover: { alt, name },
      description,
      postTile,
      pubDate,
      title,
    },
    render,
  },
} = Astro.props;

const { Content } = await render();
---

<BaseLayout
  title={title}
  description={description}
  author={author}
  coverName={name}
>
  <Picture
    src={importImage(name)}
    alt={alt}
    formats={["avif", "webp"]}
    width={500}
    loading="eager"
  />
  <p>Published on <FormattedDate date={pubDate} /></p>
  <p>By: {author}</p>
  <h1>{postTile || title}</h1>
  <Content />
</BaseLayout>
