---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Pablo Cru",
  country: "Spain",
  occupation: "Full Stack Web Developer",
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const headingfontSize = "4rem";
const skillsFontWeight = "bold";
---

<BaseLayout title={pageTitle}>
  <h1>{pageTitle}</h1>

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }

  <style define:vars={{headingfontSize, skillsFontWeight}}>
    h1 {
      font-size: var(--headingfontSize);
    }
    .skill {
      font-weight: var(--skillsFontWeight);
    }
  </style>
</BaseLayout>
