---
// Inspired on: https://github.com/withastro/astro/blob/main/examples/blog/src/components/BaseHead.astro

interface Props {
  title?: string;
  description?: string;
}

const { title = "Astro Blog", description = "Blog powered by Astro" } =
  Astro.props;

const faviconPath = import.meta.env.BASE_URL + "favicon.svg";

async function generateFontPreloadTags() {
  const fontFiles = await Astro.glob("../../public/fonts/**/*.woff2");
  if (!fontFiles) return;

  const fonts = [];
  for (const fontFile of fontFiles) {
    const fileName = fontFile.default;

    // .slice(7) removes "/public" from the given path
    if (typeof fileName === "string") fonts.push(fileName.slice(7));
  }
  return fonts;
}
const fonts = await generateFontPreloadTags();
---

{/* Global Metadata */}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href={faviconPath} />
<meta name="generator" content={Astro.generator} />

{/* Primary Meta Tags */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

{/* Canonical URL */}
<link rel="canonical" href={Astro.url} />

{
  /* Preload Fonts */
  fonts?.length &&
    fonts.map((font) => (
      <link rel="preload" href={font} as="font" type="font/woff2" crossorigin />
    ))
}
