---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: Date;
    author: string;
    cover: {
      name: string;
      alt: string;
    };
  };
}

const {
  frontmatter: {
    title,
    description,
    pubDate,
    author,
    cover: { alt, name },
  },
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}"
);
const image = images["/src/images/" + name];
if (!image) throw new Error(`Image ${name} doesn't exists`);
---

<BaseLayout title={title} description={description}>
  <Picture
    src={image()}
    alt={alt}
    formats={["avif", "webp"]}
    width={500}
    loading="eager"
  />
  <slot />
  <p>Published on <FormattedDate date={pubDate}/></p>
  <p>By: {author}</p>
</BaseLayout>
