---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { importImage } from "@/utils/import-image";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: Date;
    author: string;
    cover: {
      name: string;
      alt: string;
    };
  };
}

const {
  frontmatter: {
    title,
    description,
    pubDate,
    author,
    cover: { alt, name },
  },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Picture
    src={importImage(name)}
    alt={alt}
    formats={["avif", "webp"]}
    width={500}
    loading="eager"
  />
  <slot />
  <p>Published on <FormattedDate date={pubDate}/></p>
  <p>By: {author}</p>
</BaseLayout>
