---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { importImage } from "@/utils/import-image";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"posts">;

const {
  data: {
    title,
    description,
    pubDate,
    author,
    cover: { alt, name },
  },
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  author={author}
  coverName={name}
>
  <Picture
    src={importImage(name)}
    alt={alt}
    formats={["avif", "webp"]}
    width={500}
    loading="eager"
  />
  <slot />
  <p>Published on <FormattedDate date={pubDate} /></p>
  <p>By: {author}</p>
</BaseLayout>
